<div class="p-3">
  <!-- Chat-Bar -->
  <div class="container">
    <div class="row justify-content-center">
        <p class="col-10" [innerHTML]="convertNewlinesToBr(myVariable)">{{myVariable}}</p>
        <label class="col-8">
  <!--             <input (keydown.enter)="onEnterPressed($event)" class="form-control" type="text" name="radiodemo" [value]="" [(ngModel)]="myVariable">
  -->   
        <textarea (keydown.enter)="onEnterPressed($event)" class="form-control " type="text" name="radiodemo" [value]="" [(ngModel)]="myVariable"></textarea>
        </label>
        <button type="submit" class="col-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="!myVariable">Submit</button>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Knopf gedrückt!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1 class="modal-title fs-5" id="exampleModalLabel" [innerHTML]="convertNewlinesToBr(myVariable)">{{myVariable}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>